table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:white;
    background:black;
}
td, th {
    border: 1px;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: darkgrey;
}